.SolveEditor {
  transition: 0.3s all ease;
  max-width: 500px;
  margin: auto;
  background-color: #fafafa;
  padding: 12px;
  border-radius: 6px;
  min-width: 250px;
  margin: 12px 12px 0px 12px;
  position: relative;
}

.header {
  text-align: center;
  margin-bottom: 12px;
}

.latlng {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 10px;
  text-align: center;
  color: lightgray;
  margin-bottom: 12px;
}

.taskInfo {
  /* border: 1px solid lime; */
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
}

.infoItem {
  /* border: 1px solid red; */
}

.taskMedia {
  margin-top: 18px;
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid lime; */
}

.mediaItem {
  min-height: 150px;
  /* border: 1px solid red; */
  background-size: cover;
}

.mediaItem img {
  max-width: 100%;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #d3d3d3;
}

.content {
}

.controls {
  max-width: 100px;
}

.miniMapWrapper {
  margin-bottom: 12px;
}

.miniMap {
  height: 200px;
  width: 100%;
}
