.mapWrapper {
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
}

.map {
  height: 100vh;
  cursor: crosshair;
}

.mapContainer {
  height: 100%;
  /* do not remove this class */
}

#map {
  height: 1000px;
}

.icon {
}
