.mapWrapper {
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
}

.map {
  height: 100vh;
  cursor: crosshair;
}

.mapContainer {
  height: 100%;
  /* do not remove this class */
}

#map {
  height: 1000px;
}

.icon {
  border: 0px solid transparent;
}

:global(.leaflet-popup-content-wrapper) {
  border: 1px solid black;
  width: 90vw;
  height: 50vh;
}

:global(.leaflet-popup-content-wrapper .leaflet-popup-content) {
  text-align: center;
}

:global(.leaflet-popup-tip-container) {
  opacity: 0.5;
}
