.Nav {
  position: absolute;
  top: 12px;
  left: 12px;
}

.btnBackToMap {
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  text-align: center;
}
